PORT=3011
FORMBRICKS_ENV_ID=your_environment_id_here
FORMBRICKS_SDK_URL=https://your-formbricks-instance.com
FORMBRICKS_API_KEY=your_api_key_here
BASE_DOMAIN=https://your-vanity-server-domain.com
ADMIN_API_TOKEN=your_admin_token_here
SQLITE_DB_PATH=
